*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
#introduction {
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
    background-image: url(C:/xampp/htdocs/develop/portfolio/imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#introduction > .container {
    position: relative;
    padding: 1rem;
    display: inline-block;
    transition: .3s all;
    width: 70%;
}

.menu {
    float: right;
    color: white;
}

.menu > a {
    padding: 1rem;
}

#hero {
    margin-top: 10rem;
    margin-left: 5rem;
}

#hero > h1:nth-of-type(1) {
    font-weight: 100;
    font-size: 3rem;
}

#hero > h1:nth-of-type(2) {
    font-weight: 800;
    font-size: 3rem;
}

#projects-carousel {
    margin-left: 5rem;
    margin-top: 5rem;
}

#projects-carousel > a {
    font-size: 1.25rem;
}

#projects-carousel > img {
    padding: 1rem 0;
    display: block;
    max-width: 250px;
}

.slide-bar {
    position: absolute;
    display: inline-block;
    width: 30%;
    margin-left: 0rem;
    background: white;
    height: 100%;
    color: black;
    padding: 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}

.slide-bar > .header {
    font-size: 1.2rem;
    font-weight: 800;
}

.slide-bar > a {
    display: block;
    margin-top: 1rem;
    line-height: 2rem;
}

.slide-bar > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: right;
    shape-outside: circle();
    margin: 1rem 0 1rem;
}

.slide-bar > .header {
    margin-top: 1rem;
}

.slide-bar > .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.slide-bar > .grid > .grid-block {
    padding-top: 1rem;
}

#projects {
    padding-bottom: 2rem;
}

#projects > .header {
    padding: 2rem 5rem;
    font-size: 2rem;
    font-weight: 800;
}

#projects > .grid {
    display: grid;
    padding: 0 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
}

#projects > .grid > .grid-block {
    max-width: 300px;
    margin: 0 auto;
}

#projects > .grid > .grid-block > a.title {
    font-weight: 500;
    display: block;
    padding: 0 0 .75rem 0rem;
}

#projects > .grid > .grid-block > a {
    display: block;
    padding: .75rem 0 0 0;
}

#projects > .grid > .grid-block > img {
    display: block;
    max-width: 300px;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
}
