* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    transition: color .1s, background-color .5s, background-image .5s;
}

.shadow {
    display: block;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1) !important;
    z-index: 999999;
}

.clickable {
    cursor: pointer;
}

#background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(55, 126, 55);
    background-image: linear-gradient(to right, rgb(0, 105, 9) 1%, green 20%, rgb(162, 223, 152) 150%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transition: 1s filter;
}

#character {
    display: block;
    position: absolute;
    background-image: url('../imgs/frontcharacter.png');
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: -5rem;
    right: 25%;
    width: 20rem;
    height: 15rem;
}

#introduction {
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
}

#introduction > .container {
    position: relative;
    /* padding: 1rem; */
    display: inline-block;
    transition: 1s all;
    width: 100%;
}

#introduction > .container > .header {
    position: absolute;
    width: 100%;
    padding: 1rem;
    transition: top 1s, box-shadow .5s;
    z-index: 9999;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#introduction > .container > .header > #home {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 900;
    color: white;
}

#introduction > .container > .header > #bw-button {
    padding-left: 2rem;
    cursor: pointer;
    transition: all 0.001s step-end;
}

.menu {
    float: right;
    margin-top: -.5rem;
    margin-right: -1rem;
    transition: 1s all;
}

.menu > a {
    margin: 1rem;
    margin-right: 2rem;
    text-decoration: none;
    color: white;
}

.menu > #arrow {
    display: inline-block;
    cursor: pointer;
    background: white;
    text-align: center;
    padding: .5rem;
    margin: auto;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.menu > #arrow > .fa {
    color: black;
    font-weight: 900;
    width: 1rem;
    text-align: center;
    transition: .3s all;
}

#hero {
    margin-top: 10rem;
    margin-left: 5rem;
}

#hero > h1:nth-of-type(1) {
    font-weight: 100;
    font-size: 3rem;
}

#hero > h1:nth-of-type(2) {
    font-weight: 800;
    font-size: 3rem;
}

#projects-carousel {
    display: block;
    margin-left: -15rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 10rem;
    animation: slidein-left .85s 1 alternate ease-out forwards .7s;
    transition: all .5s ease-in-out;
}

@keyframes slidein-left {
    0% {margin-left: -15rem;}
    60% {margin-left: 7rem;}
    80% {margin-left: 5rem;}
    90% {margin-left: 5.5rem;}
    100% {margin-left: 5rem;}
}

#projects-carousel:hover {
    transform: rotate(-2deg);
}

#projects-carousel > a {
    display: block;
    font-size: 1.25rem;
}

#projects-carousel > img {
    padding: 1rem 0;
    display: block;
    max-width: 200px;
}

.slide-bar {
    position: absolute;
    display: inline-block;
    width: 30%;
    margin-left: 0rem;
    background: white;
    height: 100%;
    color: black;
    padding: 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    z-index: 0;
}

.slide-bar > .header {
    font-size: 1rem;
    font-weight: 800;
}

.slide-bar > a {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.7rem;
}

.slide-bar > img {
    width: 6rem;
    max-width: 5rem;
    height: auto;
    border-radius: 50%;
    float: right;
    padding: 0rem;
    shape-outside: circle();
    margin: 1rem 0 1rem;
}

.slide-bar > .header {
    margin-top: 1rem;
}

.slide-bar > .skills {
    margin-top: 4rem;
    margin-bottom: 0rem;
}

.slide-bar > .contact {
    margin-top: 3rem;
    margin-bottom: 0rem;
}

.slide-bar > .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.slide-bar > .grid-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.slide-bar > .grid-contact > div {
    padding: .5rem 0;
}

.slide-bar > .grid-contact > div > a {
    color: black;
}

@media only screen and (max-width: 1400px){
    .slide-bar > .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .slide-bar > .grid > .grid-block {
        font-size: .9rem;
        line-height: 2rem;
        padding-top: .5rem !important;
    }
}

.slide-bar > .grid > .grid-block {
    padding-top: 1rem;
    line-height: .9rem;
}

#projects {
    display: block;
    background: whitesmoke;
    max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}

#projects > .header {
    padding: 2rem 5rem;
    font-size: 2rem;
    font-weight: 800;
}

#projects > .grid {
    display: grid;
    padding: 0 7rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
}

#projects > .grid > .grid-block {
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    transition: .3s all;
}

#projects > .grid > .grid-block:hover {
    margin-top: -1rem;
}

#projects > .grid > .grid-block > a.title {
    font-weight: 500;
    display: block;
    padding: 0 0 .75rem 0rem;
}

#projects > .grid > .grid-block > a {
    display: block;
    padding: .75rem 0 0 0;
}

#projects > .grid > .grid-block > img {
    display: block;
    max-width: 260px;
}

#about {
    max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    background: rgb(240, 240, 240);
    transition: color .1s;
}

#about > .header {
    padding: 2rem 5rem;
    font-size: 2rem;
    font-weight: 800;
}

#about > .container {
    position: relative;
    max-width: 70rem;
    padding: 0 10rem;
    margin: 0 auto;
}

#about > .container > .header {
    position: relative;
    font-size: 1.75rem;
    padding: 1rem 0;
}

#about > .container > .header > .title {
    display: block;
    font-weight: 500;   
}

#about > .container > .header > .subtitle {
    position: relative;
    display: block;
    font-weight: 200;   
    transition: all 1s;
}

#about > .container > .header > .subtitle > a {
    display: inline;
}

#about > .container > .header > .subtitle > div {
    position: absolute;
    display: inline;
    width: 30rem;
    height: 2.4rem;
    left: 1.3rem;
    overflow: hidden;
    transition: all 1s;
}

#about > .container > .header > .subtitle > div > ul {
    position: absolute;
    display: inline;
    left: 0;
    width: 30rem;
    transition: all 1s;
}

#about > .container > .header > .subtitle > div > ul > li {
    list-style: none;
}

#about > .container > .description {
    display: block;
    width: auto;
    height: 10rem;
    line-height: 1.75rem;
    letter-spacing: .5pt;
    margin: .5rem 0 3rem 0;
}

#about > .container > .description > img {
    padding-left: 1rem;
    float: right;
    max-width: 150px;
}

#about > .container > .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 1rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

#about > .container > .grid > .grid-block > img {
    max-width: 50px;
}

#hobbies-header{
    margin-top: 30rem;

}

#hobbies-description{
    
}

.popup-animation {
    animation: popup 1s 1 alternate ease-out forwards .1s;
}

@keyframes popup {
    0% {margin-top: 30rem;}
    66% {margin-top: -1rem;}
    100% {margin-top: 0rem;}
}

#contact {
    max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 2rem;;
}

#contact > .header {
    padding: 2rem 5rem;
    font-size: 2rem;
    font-weight: 800;
}

#contact > .container {
    max-width: 80rem;
    padding: 0 10rem;
    margin: 0 auto;
}

#contact > .container > .header > .title {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 0 0 2rem 0;
}

#contact > .container > .contact-box {
    max-width: 50rem;
    margin: 0 auto;     
    padding: 1rem;
}

#contact > .container > .contact-box > a {
    display: block;
    background: rgb(243, 243, 243);
    color: black;
    margin: 1rem;
    padding: .75rem;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
    letter-spacing: 1pt;
}

footer {
    width: 100%;
    padding: 2rem 0 1rem 0;
    text-align: center;
}


/* Mobile */

@media only screen and (max-width: 1024px){
    * {
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box;
        scroll-behavior: smooth;
        margin: 0;
        transition: color .1s, background-color .5s, background-image .5s;
    }

    #background {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../imgs/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    
    #introduction {
        position: relative;
        display: block;
        height: auto;
        overflow: hidden;
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    }
    
    #introduction > .container {
        position: relative;
        /* padding: 1rem; */
        display: inline-block;
        transition: .5s all;
        width: 100%;
    }
    
    #introduction > .container > .header {
        position: absolute;
        width: 100%;
        padding: 1rem;
        transition: top 1s, box-shadow .5s;
        z-index: 9999;
        box-shadow: 0 0 15px rgb(0, 0, 0, 0);

    }
    
    #introduction > .container > .header > #home {
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 900;
        color: white;
    }
    
    #introduction > .container > .header > #bw-button {
        padding-left: 2rem;
        cursor: pointer;
        transition: all 0.001s step-end;
    }
    
    .menu {
        display: none;
        float: right;
        margin-top: -.5rem;
        margin-right: -1rem;
        transition: 1s all;

        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none;
    }
    
    .menu > a {
        margin: 1rem;
        text-decoration: none;
        color: white;
    }
    
    .menu > #arrow {
        display: inline-block;
        padding: 5rem;
        margin: auto;
        background: white;
        text-align: center;
        cursor: pointer;
    }
    
    .menu > #arrow > .fa {
        color: black;
        font-weight: 900;
        width: 2rem;
        text-align: center;
        transition: .3s all;
    }
    
    #hero {
        margin-top: 10rem;
        margin-left: 2rem;
    }
    
    #hero > h1:nth-of-type(1) {
        font-weight: 100;
        font-size: 3rem;
    }
    
    #hero > h1:nth-of-type(2) {
        font-weight: 800;
        font-size: 3rem;
    }
    
    #projects-carousel {
        display: block;
        margin-left: 2rem;
        margin-top: 5rem;
        width: 10rem;
        animation: none;
    }
    
    #projects-carousel > a {
        display: block;
        font-size: 1.25rem;
    }
    
    #projects-carousel > img {
        padding: 1rem 0;
        display: block;
        max-width: 250px;
    }
    
    .slide-bar {
        position: absolute;
        display: none;
        width: 30%;
        margin-left: 0rem;
        background: white;
        height: 100%;
        color: black;
        padding: 0 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
        z-index: 0;
    }
    
    .slide-bar > .header {
        font-size: 1.2rem;
        font-weight: 800;
    }
    
    .slide-bar > a {
        display: block;
        margin-top: 1rem;
        line-height: 1.7rem;
    }
    
    .slide-bar > img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        float: right;
        shape-outside: circle();
        margin: 1rem 0 1rem;
    }
    
    .slide-bar > .header {
        margin-top: 1rem;
    }
    
    .slide-bar > .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .slide-bar > .grid > .grid-block {
        padding-top: 1rem;
    }
    
    #projects {
        max-width: 100rem;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    
    #projects > .header {
        padding: 1rem;
        font-size: 2rem;
        font-weight: 800;
    }
    
    #projects > .grid {
        display: grid;
        padding: 0 0rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 4rem;
    }
    
    #projects > .grid > .grid-block {
        max-width: 200px;
        margin: 0 auto;
    }
    
    #projects > .grid > .grid-block > a.title {
        font-weight: 500;
        display: block;
        padding: 0 0 .75rem 0rem;
    }
    
    #projects > .grid > .grid-block > a {
        display: block;
        padding: .75rem 0 0 0;
    }
    
    #projects > .grid > .grid-block > img {
        display: block;
        max-width: 200px;
    }
    
    #about {
        max-width: 100rem;
        margin: 0 auto;
        padding-bottom: 2rem;
        background: rgb(240, 240, 240);
        transition: color .1s;
        overflow: hidden;
    }
    
    #about > .header {
        padding: 1rem;
        font-size: 2rem;
        font-weight: 800;
    }
    
    #about > .container {
        max-width: 70rem;
        padding: 0 2rem;
        margin: 0 auto;
    }
    
    #about > .container > .header {
        font-size: 1.75rem;
        padding: 1rem 0;
    }
    
    #about > .container > .header > .title {
        display: block;
        font-weight: 500;   
    }
    
    #about > .container > .header > .subtitle {
        display: block;
        font-weight: 200;   
    }
    
    #about > .container > .description {
        display: block;
        width: auto;
        height: 10rem;
        line-height: 1.75rem;
        letter-spacing: .5pt;
        margin: .5rem 0 17rem 0;
    }
    
    #about > .container > .description > img {
        padding-left: 1rem;
        float: right;
        max-width: 150px;
    }
    
    #about > .container > .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-gap: 1rem;
        padding: 2rem 0;
        margin-bottom: 2rem;
    }
    
    #about > .container > .grid > .grid-block > img {
        max-width: 50px;
    }

    #hobbies-header {
        margin-top: 0;
    }

    #i-am-carousel {
        margin-top: -6.15rem !important;
    }

    #contact {
        max-width: 100rem;
        margin: 0 auto;
        padding-bottom: 2rem;;
    }
    
    #contact > .header {
        padding: 1rem;
        font-size: 2rem;
        font-weight: 800;
    }
    
    #contact > .container {
        max-width: 80rem;
        padding: 0 2rem;
        margin: 0 auto;
    }
    
    #contact > .container > .header > .title {
        display: block;
        font-size: 2rem;
        text-align: center;
        padding: 0 0 2rem 0;
    }
    
    #contact > .container > .contact-box {
        max-width: 50rem;
        margin: 0 auto;     
        padding: 1rem;
    }
    
    #contact > .container > .contact-box > a {
        display: block;
        background: rgb(243, 243, 243);
        color: black;
        margin: 1rem;
        padding: .75rem;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
        letter-spacing: 1pt;
    }
    
    footer {
        width: 100%;
        padding: 2rem 0 1rem 0;
        text-align: center;
    }
}
